<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" %>
<%= javascript_include_tag "http://code.highcharts.com/highcharts.js" %>
<%= javascript_include_tag "chartkick" %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <h1><%= @registered_application.name %> </br>
          <small>
            <%= @registered_application.url %></br>
            Tracked for: <%= time_ago_in_words(@registered_application.created_at) %>
            <span class="pull-right">
              <%= link_to "Edit App", edit_user_registered_application_path(current_user, @registered_application), class:'btn btn-default' %>&nbsp;
              <%= link_to "Delete App", [current_user, @registered_application], method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this appplication?'} %>
            </span>
          </small>
        </h1>
      </div>
      <%= pie_chart @registered_application.events.group(:name).count %>
      <%= line_chart @registered_application.events.group('date("events"."created_at","start of day")').count %>
    </div>
  </div>
</div>
